= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  = f.input :username, label: 'Instagram Handle'
  = f.input :id, as: :hidden
  -#= f.input :password, as: :password
  -#= f.input :password_confirmation, as: :password
  = f.input :about

  = f.input :hair_type, collection: HAIR_TYPES, include_blank: false, label: 'Hair Type', as: :radio_buttons
  = f.input :skin_type, collection: SKIN_TYPES, include_blank: false, label: 'Skin Type', as: :radio_buttons
  = f.input :makeup, collection: MAKEUP, include_blank: false, as: :radio_buttons
  = f.input :niche, collection: NICHES, include_blank: false, as: :radio_buttons
  = f.input :category, collection: BEAUTY_CATEGORIES, include_blank: false, as: :radio_buttons
  .row
    = f.button :submit, class: 'btn-block'
