%p
  %strong Instagram Handle:
  = link_to(@user.username, "https://www.instagram.com/#{@user.username}")
%p
  %strong Karma:
  = @user.karma
- unless @user.about.blank?
  %p
    %strong About:
    = @user.about

- unless @user.hair_type.blank?
  %p
    %strong Hair Type:
    = @user.hair_type

- unless @user.skin_type.blank?
  %p
    %strong Skin Type:
    = @user.skin_type

- unless @user.makeup.blank?
  %p
    %strong Makeup:
    = @user.makeup

- unless @user.niche.blank?
  %p
    %strong Niche:
    = @user.niche

- unless @user.category.blank?
  %p
    %strong Beauty Category:
    = @user.category

%br/

- unless @user.items.blank?
  %p
    %strong= "Questions Asked by #{@user.username}:"

  - @user.items.each do |question|
    %br/
    = link_to(question.title, item_path(question))
    %span
      %small
        ="(#{time_ago_in_words(question.created_at)} ago)"
        -##{link_to question.user.username, question.user} (#{time_ago_in_words(question.created_at)} ago):
    %br/
