%p
  %strong Instagram Handle:
  = link_to(@user.username, "https://www.instagram.com/#{@user.username}")
%p
  %strong Karma:
  = @user.karma
- unless @user.about.blank?
  %p
    %strong About:
    = @user.about
%p
  %strong Hair Type:
  = @user.hair_type

%p
  %strong Skin Type:
  = @user.skin_type

%p
  %strong Makeup:
  = @user.makeup

%p
  %strong Niche:
  = @user.niche

%p
  %strong Beauty Category:
  = @user.category
